<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>kj</display-name>
    <servlet-name>kj</servlet-name>
    <servlet-class>controller.kj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kj</servlet-name>
    <url-pattern>/kj</url-pattern>
  </servlet-mapping>
  <display-name>Inlämningsuppgift-2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ShowController</servlet-name>
    <servlet-class>controller.ShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowController</servlet-name>
    <url-pattern>/showController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>controller.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemovSessionServlet</display-name>
    <servlet-name>RemovSessionServlet</servlet-name>
    <servlet-class>controller.RemovSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemovSessionServlet</servlet-name>
    <url-pattern>/RemovSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlets</display-name>
    <servlet-name>SessionServlets</servlet-name>
    <servlet-class>controller.SessionServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlets</servlet-name>
    <url-pattern>/SessionServlets</url-pattern>
  </servlet-mapping>
</web-app>